body {
  background-color: #283547;
  color: white;
  margin: 20px;
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.gameCanvas {
  background-color: #202C37;
  /* margin: 10; */
  /* padding: 20; */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.boardCanvas {
  display: flex;
  flex-flow: row nowrap;
}

.squareCanvas {
  background-color: #202C37;
  color: white;
  border: 1px solid red;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}