*{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

body {
  margin:0;
  padding: 0;
  min-width: 300px;
  background-color: #283547;
  height: 100vh;
  font-size: 32px;
}

.gameCanvas {
  /* background-color: #202C37; */
  /* margin: 10; */
  /* padding: 20; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid red; */
  height: 100%;
  /* background-color: orange; */
}


h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.25); /* need to change */
}


.statusCanvas{
  margin: 20px;
  font-size: 24px;
}

.gridCanvas{
  background-color: #202C37;
  margin: 10;
  padding: 20;
}

.boardCanvas {
  display: flex;
  flex-flow: row nowrap;
}

.squareCanvas {
  background-color: #202C37;
  color: white;
  border: 2px solid silver;
  border-radius: 5px;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.squareCanvas:focus {
  outline: none;
  background-color: orange;
}